@model TeamGenerator2.Models.Names

@{
    ViewData["Title"] = "Groups";
    var totalNames = Model.Name.Count;
    var teamSize = Model.TeamSize;
    var namesPerTeam = (int)Math.Ceiling((double)totalNames / teamSize);
    var nameIndex = 0;
}

<h2>GROUPS</h2>

@* Loop through the number of groups (divs) *@
@for (int i = 0; i < teamSize; i++)
{
    <div class="card" style="width: 18rem;">
        <div class="group">
            <div class="groupContent"></div>
            <ul class="list-group list-group-flush">
                @* Insert names into the current div/team *@
                @for (int j = 0; j < namesPerTeam && nameIndex < totalNames; j++)
                {
                    <li class="list-group-item">@Model.Name[nameIndex]</li>
                    nameIndex++;
                }
            </ul>
        </div>
    </div>
}
<button id="teamNames" onclick="getTeamName()">Name Teams</button>
