@model TeamGenerator2.Models.Names
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Groups" method="post">
    <div class="form-group">
        <label asp-for="NameInput" class="formLabel">Names (one per line):</label>
        <textarea asp-for="NameInput" class="formInput" rows="10"></textarea>
    </div>

    <div class="teamFields">
        <label asp-for="TeamSize" class="formLabel">Team Size:</label>
        <input asp-for="TeamSize" class="formInput" />
    </div>

    <button type="submit" class="formButton">Get Teams</button>
</form>
