@model Homework1.Models.Names
@{
    ViewData["Title"] = "Home Page";
}

 <form asp-action="index" method="get">
    <div>
        <label asp-for="Name" class="formLabel">Your name:</label>
        <input asp-for="Name" class="formInput" />
    </div>
    <div>
        <label asp-for="TeamSize" class="formLabel">Team Size :</label>
        <input asp-for="TeamSize" class="formInput" />
    </div>
    <button type="submit" class="formButton">Get Teams</button>
 </form>
